{% extends 'base.html' %}

{% block style %}
<style>
    p {
	margin-bottom: 30px;
}
input, select {
	width: 70%;
	float: right;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #000;
}
textarea {
	width: 70%;
	float: right;
	border-radius: 3px;
	border: 1px solid #000;
}
#pst_new_job {
	width: 70%;
	float: right;
}
    
</style>
{% endblock style %}

{% block content %}
{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="show_message">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-6">
                <div class="recruiter_register_title text-center pt-5 pb-5">
                    <h2>Post a New Job.</h2>
                </div>
            </div>
            
            <div class="col-3">
                <div class="main_sidebar">
                    {% include 'recruiter/recruiter_sidebar.html' %}
                </div>
            </div>
            <div class="col-8 offset-1">
                <div class="new_job">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ new_job.media }}
                        {{ new_job.as_p }}
                        <input type="submit" value="Post New Job" class="form-control mt-5 mb-5 btn btn-success" id="pst_new_job">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


    
{% endblock content %}