{% extends 'base.html' %}

{% block style %}
<style>
    #id_picture {
	width: 75%;
	float: left;
	margin-left: 25%;
	margin-top: -25px;
	padding-bottom: 25px;
}
    
</style>
{% endblock style %}

{% block content %}
{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="show_message">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="change_password">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="main_sidebar">
                    {% include 'recruiter/recruiter_sidebar.html' %}
                 </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="recruiter_register_title text-center pt-5 pb-5">
                    <h2>Change Your Password</h2>
                </div>
                <div class="recruiter_register">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="password" class="form-control" name="old_password" placeholder="Old Password">
                        <input type="password" class="form-control mt-3" name="new_password" placeholder="New Password">
                        <input type="password" class="form-control my-3" name="confirm_password" placeholder="Confirm New Password">
                        <input type="submit" value="Change Password" class="form-control mb-5 btn btn-primary">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


    
{% endblock content %}