{% extends 'base.html' %}
{% block title %}Error Message {% endblock title %}
{% load static %}


{% block style %}
<style>
    


    
</style>
{% endblock style %}

{% block content %}

<section class="banner_area" style="padding: 250px 0;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner_title">
                    <h2 style="color: red;">Please login as a Job Seeker !</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}