{% extends 'base.html' %}

{% block style %}
<style>
    
    
</style>
{% endblock style %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="job_search pt-5 pb-5">
                    <form action="" method="GET">
                        <input type="text" name="q" placeholder="Search Here......." class="form-control" value="{{ request.GET.q }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 offset-5">
                <div class="job_search_title pb-2">
                    <h3>your searched kewyord: <span>{{ searched_data }}</span></h3>
                    <h3>Total jobs found: <span>({{ total_searched_job }})</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-5 mb-5">
                <div class="sidebar_area">
                    {% include 'main_sidebar.html' %}
                </div>
            </div>
            <div class="col-7">
                {% for j in job %}
                <div class="single_job">
                    <h2><a href="{% url 'jobapp:job_detail' id=j.id %}">{{ j.title }}</a></h2>
                    <a href="">{{ j.recruiter.company_name }}</a>
                    <h4><strong>education: {{ j.education }}</strong></h4>
                    <p><strong>experience: {{ j.get_experience_display }}</strong></p>
                    <p><strong>deadline: {{ j.job_deadline }}</strong></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

    
{% endblock content %}